# Build directories
build/
cmake-build-*/

# IDE specific files
.vscode/
.idea/
*.user
*.autosave

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt specific
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qm

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini 